<h3>Dashboard</h3>
<div class="columns">
    <div class="column col-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title h5">Current Stock</div>
            </div>
            <div class="card-body">
                <p><strong>Total items in warehouse:</strong>{{stock_level}}</p>
            </div>
        </div>
    </div>
    <div class="column col-6">
        <div class="card">
            <div class="card-title h5">Account balance</div>
        </div>
        <div class="card-body">
            <p><strong>Balance:</strong>{{balance}}</p>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="columns">
    <div class="column col-4">
        <a href="/purchase" class="btn btn-primary btn-block">Purchase</a>
    </div>
    <div class="column col-4">
        <a href="/sale" class="btn btn-success btn-block">Sale</a>
    </div>
    <div class="column col-4">
        <a href="/balance" class="btn btn-warning btn-block">Balance Change</a>
    </div>
</div>